<div class="banner">
  <h1>Answer</h1>
</div>
<div class="container">
<p>Your question: <%= params[:question] %> </p>
<p>Answer: <%= @response %> </p>
</div>
<div> <a href="http://localhost:3000/ask">Ask another question</a> </div>
